<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/all.css">
	<title><%= title %></title>
</head>
<body>
	<div id="app" :style="'width:'+ screenWidth +'px;overflow: hidden;'">
		<%	include include/header.html %>
		<div :style="'width:'+ doubleScreenWidth +'px;transition-duration: '+ td.dura +'s; transform:translateX('+ td.position +'px);' "  class="clearfix" id="app-main">
			<div class="container-wrap" :style="'width:'+ screenWidth +'px;float:left;'">
				<div class="container-scroll">
					<%	include include/index-top.html %>
					<%	include include/index-hot.html %>
					<%	include include/index-recommend.html %>
					<%	include include/index-female.html %>
					<%	include include/index-male.html %>
					<%	include include/index-free.html %>
					<%	include include/index-bottom.html %>
				</div>
			</div>
			<div :style="'width:'+ screenWidth +'px;float:left;'">
				<%	include include/index-shelf.html %>
			</div>
		</div>
	</div>
	<script src="/static/js/vue.js"></script>
	<!-- <script src="/static/js/zepto.js"></script> -->
	<script src="/static/js/vue-resource.min.js"></script>
	<script src="/static/js/pages/index.js"></script>
</body>
</html>